.calendarContainer {
  padding: 20px;
  background-color: #f9f9f9; /* Un fondo claro para resaltar el calendario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para darle profundidad */
}

.createTaskButton {
  margin-bottom: 20px;
  padding: 10px 16px; /* Más espacio para que sea cómodo de pulsar */
  background-color: #4caf50; /* Verde llamativo */
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.createTaskButton:hover {
  background-color: #45a049; /* Un verde más oscuro en hover */
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.createTaskButton:active {
  transform: scale(0.98); /* Efecto al hacer clic */
}

.taskForm {
  margin-top: 20px;
}

.btnDelete {
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btnDelete:hover {
  background-color: darkred;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
