.footer {
  text-align: center;
  background-color: #2e4c40;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.socialLinks {
  margin-bottom: 10px;
}

.socialLinks a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.socialLinks a:hover {
  text-decoration: underline;
}
