/* NavBar.module.css */

.NavBar {
  background-color: #2e4c40; /* Verde oscuro consistente */
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
}

.AppName {
  font-size: 2rem;
  font-weight: bold;
  color: #f8f9fa;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.AppName:hover {
  color: #b2d8b2; /* Verde claro en hover */
  cursor: pointer;
}

/* Enlaces del NavBar */
.NavLink {
  color: #f8f9fa;
  font-size: 1.1rem;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.NavLink:hover {
  color: #b2d8b2;
  transform: translateY(-2px);
}

.Active {
  border-bottom: 2px solid #f8f9fa;
  padding-bottom: 2px;
}

/* Nombre del usuario */
.Username {
  font-size: 1.1rem;
  color: #f8f9fa;
  margin-right: 1rem;
}

.HeaderLoggedIn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.LogoutButton {
  background-color: #d9534f; /* Rojo */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.LogoutButton:hover {
  background-color: #c9302c; /* Más oscuro en hover */
  transform: scale(1.05); /* Ligera ampliación */
}
