/* Estilo general del Navbar */
.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px; /* Este valor debe ser consistente */
  z-index: 1000;
  background-color: #2d3e50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.NavLogo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  margin-right: 1rem;
}

.NavLogo:hover {
  color: #4caf50; /* Color zen para hover */
  text-decoration: none;
}

/* Enlaces del navbar */
.NavLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-item {
  margin-right: 15px;
}

body {
  padding-top: 60px; /* Adjust based on your navbar height */
}

.NavLink:hover {
  background-color: #4caf50; /* Resalta en verde para hover */
  color: #ffffff;
}

.Active {
  background-color: #4caf50;
  color: #ffffff;
  font-weight: bold;
}

/* Alineación del navbar */
.ml-auto {
  margin-left: auto;
}

.text-left {
  text-align: left;
}

/* Ajustes de iconos */
.fas,
.far {
  margin-right: 0.5rem;
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
  .NavBar {
    padding: 0.5rem;
  }

  .NavLink {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
  }

  .NavLogo {
    font-size: 1.2rem;
  }
}

.userName {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
  display: inline-block;
}
