/* HeroSection.module.css */

.heroContainer {
  background: linear-gradient(135deg, #a0c1b8, #f8f9fa);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroContent {
  max-width: 600px;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  color: #2e4c40; /* Verde principal */
  margin-bottom: 1.5rem;
  font-family: "Lora", serif; /* Toque elegante */
}

.heroSubtitle {
  font-size: 1.2rem;
  color: #6b8e8e;
  margin-bottom: 2rem;
  font-style: italic;
}

.heroButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.heroButton {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #2e4c40; /* Verde oscuro */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.heroButton:hover {
  background-color: #215738; /* Más oscuro en hover */
  transform: translateY(-2px);
}
