/* Contenedor Principal */
.Row {
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("/src/assets/images/cld-sample-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.FormContainer {
  max-width: 400px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco translúcido */
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* Título del Formulario */
.Header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2e4c40; /* Verde principal */
}

/* Campos de Entrada */
.Input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d4e4e4;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.Input:focus {
  outline: none;
  border-color: #6b8e8e; /* Verde suave */
  box-shadow: 0 0 5px rgba(107, 142, 142, 0.5);
}

/* Mensajes de Error */
.ErrorMessage {
  color: #d9534f; /* Rojo para errores */
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

/* Botón de Acción */
.Button {
  background-color: #2e4c40; /* Verde oscuro */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.Button:hover {
  background-color: #6b8e8e; /* Verde más claro */
  transform: translateY(-3px); /* Efecto de elevación */
}

/* Enlace */
.Link {
  text-decoration: none;
  font-size: 1rem;
  color: #2e4c40; /* Verde */
  margin-top: 15px;
  display: inline-block;
  transition: color 0.3s ease;
}

.Link:hover {
  color: #6b8e8e; /* Verde más suave */
}

/* Imagen Lateral */
.SignUpCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FillerImage {
  max-width: 100%;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .FormContainer {
    max-width: 90%; /* Ajusta el ancho en pantallas pequeñas */
    padding: 20px;
  }

  .Row {
    padding: 10px; /* Reduce el espacio alrededor */
  }
}
