/* Contenedor Principal */
.App {
  text-align: center;
}

/* Enlaces */
.App-link {
  color: #007f5f; /* Verde principal */
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #005f45; /* Verde más oscuro */
}

/* Cabecera */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
