/* 🎯 Sección Hero */
.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f0f8f7;
  padding: 20px;
  text-align: center;
}

.heroTitle {
  font-family: "Lora", serif;
  font-size: 2.5rem;
  color: #2e4c40;
}

.heroQuote {
  font-size: 1.2rem;
  color: #6b8e8e;
}
